.menu {
  max-width: 1020px;
  margin: 0 auto;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 5.8% 9px 4%;

    @media (max-width: 460px) {
        flex-direction: column;
        align-items: center;
    }
}

.menu .logo {
    fill: $base-black;
    stroke: none;
}

.menu .logo__line {
    stroke: $base-black;
}

.menu__list {
    padding: 0;
    list-style: none;
    display: flex;
    width: 60%;
    margin-left: 2%;
    flex-wrap: wrap;
    margin-top: 5px;

    @media (max-width: 680px) {
        width: 82%
    }
    @media (max-width: 460px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

.menu__item {
    padding: 20px 20px;
    margin-right: 1%;

    @media (max-width: 385px) {
        padding: 16px;
    }
}

.menu__link {
    text-decoration: none;
    color: $base-black;
    letter-spacing: 5%;
    font-size: 15px;
    line-height: 20px;

    &:hover,
    &:focus {
        outline: none;          
        color: $link-hover;
    }

    &:active {
        outline: none;
        color: $link-hover;
        opacity: 0.5;
    }
}