.catalog__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $border-color;
    padding-bottom: 20px;

    @media (max-width: 750px) {
        margin-bottom: 15px;
    }
}

.catalog__item-img {
    width: 135px;
    height: 190px;
    margin-top: 11px;
    margin-bottom: 2px;
}

.catalog__item-img-img {
    width: 100%;
}

.catalog__item-info,
.catalog__item-btns {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.catalog__item-info {
    margin-top: -18px;
    text-align: left;
}

.catalog__item-title,
.catalog__item-price {
    display: block;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.catalog__item-price {
    text-align: right;
}

.catalog__item-rate {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 89%;
}

.catalog__item-rate-text {
    font-size: 10px;
    padding-left: 3px;
}


.catalog__item-btns {
    display: flex;
    text-align: center;
}

.catalog__item-btn-more,
.catalog__item-btn-buy {
    color: $base-while;
    border: none;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 9px;
    letter-spacing: 1px;
    text-decoration: none;
}

.catalog__item-btn-more {
    background-color: $button-base-1;

    &:hover,
    &:focus {
        outline: none;
        background-color: $input-color;
    }

    &:active {
        background-color: $input-color-base;
    }
}

.catalog__item-btn-buy {
    background-color: $button-base-2;
    position: relative;
    padding-left: 29px;
    padding-right: 14px;
    
    &::before {
        content: "";
        display: block;
        position: absolute;
        background: url("../../images/icon-cart.svg") no-repeat center;
        width: 12px;
        height: 12px;
        top: 5px;
        left: 8px;
    }

    &:hover,
    &:focus {
        outline: none;
        background-color: $button-base-2-hover;
    }

    &:active {
        background-color: $button-base-2-active;
    }
}