.footer {
    position: relative;
    color: $base-while;
    font-size: 10px;
    display: grid;
    z-index: 10;
    padding-top: 150px;

    &::before {
        position: absolute;
        content: "";
        display: block;
        top: 15px;
        background: url("../../images/footer_dress.png") no-repeat left;
        background-size: contain;
        width: 100%;
        height: 292px;
    }
}

.footer__container {
    display: flex;
    position: relative;
    background: $footer-bg;
    margin-top: -50px;
    padding-top: 60px;
    padding-bottom: 50px;

    &::before {
        position: absolute;
        content: "";
        top: -16px;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: $footer-bg;
    }

}

.footer__content {
    max-width: 1020px;
    display: flex;
    margin: 0 auto;
    padding-left: 4%;
    flex-wrap: wrap;

    @media (max-width: 380px) {
        flex-direction: column;
        align-items: center;
    }
}

.footer .logo {
    fill: $base-while;
    stroke: none;
}

.footer .logo__line {
    stroke: $base-while;
}

.footer__social-bar {
    width: 24.5%;

    @media (max-width: 680px) {
        width: 36.5%;
    }
    
    @media (max-width: 460px) {
        width: 20%;
    }

    @media (max-width: 385px) {
        display: none;
    }
}

.footer__title {
    font-size: 14px;
    letter-spacing: 1.4px;
    margin-bottom: 17px;
}

.footer__about {
    line-height: 12px;
    width: 13.5%;
    margin-right: 3%;
    margin-top: 10px;
    padding-left: 2px;

    @media (max-width: 650px) {
        display: none;
    }
}

.footer__catalog-list,
.footer__support-list {
    list-style: none;
    padding-left: 0;
}

.footer__catalog {
    width: 16.7%;
    margin-top: 6px;

    @media (max-width: 650px) {
        display: none;
    }
}

.footer__catalog .footer__title {
    margin-bottom: 13px;
}

.footer__catalog-link,
.footer__support-link,
.footer__contacts-link {
    text-decoration: none;
    color: $base-while;
    line-height: 20px;
    letter-spacing: 1px;
}

.footer__support {
    width: 20.5%;
    letter-spacing: 1px;
    margin-top: 8px;

    @media (max-width: 650px) {
        width: 27.5%;
    }

    @media (max-width: 385px) {
        width: 52.5%;
    }
}

.footer__support .footer__title {
    margin-bottom: 12px;
}

.footer__contacts-link {
    line-height: 12px;
    position: relative;
    display: block;
    padding-left: 15px;

    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        background: url("../../images/icon_phone.svg") no-repeat center;
        top: -2px;
        left: -3px;
    }
}

.footer__contacts {
    width: 17.6%;
    margin-top: 8px;
    line-height: 12px;
    font-size: 10.1px;
    letter-spacing: 1px;

    @media (max-width: 680px) {
        width: 32.5%;
    }

    @media (max-width: 460px) {
        width: 51.5%;
    }
}

.footer__contacts .footer__title {
    margin-bottom: 16px;
}

.footer__about-text {
    margin-bottom: 3px;
}

.footer__about-text span {
    display: block;
    position: relative;
    padding-left: 15px;

    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        background: url("../../images/icon-clock.svg") no-repeat center;
        top: -2px;
        left: -3px;
    }
}