$base-black: #000;
$base-while: #fff;
$header-bg: rgba(30, 9, 6, 0.15);
$link-hover: #474747;
$footer-bg: #3F3F3F;
$input-color: #585757;
$input-color-active: #6C6C6C;
$input-color-base: #9F9E9E;
$button-base-1: #C1C1C1;
$button-base-2: #E27F00;
$button-base-2-hover: #FFA839;
$button-base-2-active: #DA8B26;
$rating-color: #FFD168;
$checkbox-disable-border: #DDDDDD;
$checkbox-disable-bg: #F7F3F3;
$border-color: #DDDADA;
$basket-index-color: #F20505;
$success-code: #32CD32;
